@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 11% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 11% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 15%;
    --primary: 210 11% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 98%;
    --secondary-foreground: 210 11% 15%;
    --muted: 210 20% 98%;
    --muted-foreground: 212 9% 45%;
    --accent: 210 20% 98%;
    --accent-foreground: 210 11% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 13% 91%;
    --input: 210 13% 91%;
    --ring: 210 11% 15%;
    --radius: 0.5rem;
    --sidebar-background: 210 20% 98%;
    --sidebar-foreground: 210 11% 15%;
    --sidebar-primary: 210 11% 15%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 210 11% 15%;
    --sidebar-border: 210 13% 91%;
    --sidebar-ring: 210 11% 15%;
    --cursor-background: 210 11% 15%;
    --cursor-foreground: 0 0% 100%;
    --cursor-border: 210 11% 15%;
    --cursor-accent: 0 0% 100%;
  }

  .dark {
    --background: 216 33% 8%;
    --foreground: 210 17% 84%;
    --card: 216 28% 11%;
    --card-foreground: 210 17% 84%;
    --popover: 216 28% 11%;
    --popover-foreground: 210 17% 84%;
    --primary: 210 17% 84%;
    --primary-foreground: 216 33% 8%;
    --secondary: 216 28% 11%;
    --secondary-foreground: 210 17% 84%;
    --muted: 216 28% 11%;
    --muted-foreground: 210 12% 54%;
    --accent: 216 28% 11%;
    --accent-foreground: 210 17% 84%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 18% 23%;
    --input: 210 18% 23%;
    --ring: 210 17% 84%;
    --radius: 0.5rem;
    --sidebar-background: 216 28% 11%;
    --sidebar-foreground: 210 17% 84%;
    --sidebar-primary: 210 17% 84%;
    --sidebar-primary-foreground: 216 33% 8%;
    --sidebar-accent: 216 33% 8%;
    --sidebar-accent-foreground: 210 17% 84%;
    --sidebar-border: 210 18% 23%;
    --sidebar-ring: 210 17% 84%;
    --cursor-background: 210 17% 84%;
    --cursor-foreground: 216 33% 8%;
    --cursor-border: 210 17% 84%;
    --cursor-accent: 216 33% 8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
